@import "tailwindcss";

body {
  background-color: hsla(340, 100%, 74%, 0.596);
}

li {
  font-family: var(--font-emily), sans-serif; }

  h1 {

    font-family: var(--font-meow), cursive; }

    p {
      font-family: var(--font-delius), serif; 
    }