@import "tailwindcss";

body {
  background-color: #F1BFAF;
}

li {
  font-family: var(--font-emily), sans-serif; }

  h1 {

    font-family: var(--font-meow), cursive; }

    p {
      font-family: var(--font-delius), serif; 
    }